PORT=4005
NODE_ENV=development
SERVICE_NAME=integration-service
DATABASE_URL=postgresql://user:password@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?pgbouncer=true
PAYROLL_SERVICE_URL=http://localhost:4004
WORK_SERVICE_URL=http://localhost:4003
CORS_ORIGIN=http://localhost:3000
