PORT=4004
NODE_ENV=development
SERVICE_NAME=payroll-service
DATABASE_URL=postgresql://user:password@host:5432/hrm_payroll?pgbouncer=true
CORS_ORIGIN=http://localhost:3000
ORGANIZATION_URL=http://localhost:4002
WORK_URL=http://localhost:4003
